In [2]:
import pandas as pd
import numpy as np

In [3]:
# Loading dataset and visual display of the first 5 lines of the dataset
airb = pd.read_csv('data/train.csv')
airb.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [4]:
#drop amenities, description, thumbnail url,last review, first review and id
airb.drop(['amenities','description','thumbnail_url','last_review','first_review','id'], axis=1, inplace= True)

In [5]:
#converting the zipcode from object datatype to numeric and  non-numeric as NaN
airb["zipcode"] = pd.to_numeric(airb.zipcode, errors='coerce')

In [6]:
#removing the last character '%' in host response rate
airb['host_response_rate'] = airb['host_response_rate'].map(lambda x: str(x)[:-1])

In [7]:
#converting host response rate to numberic and leave non numric as NaN
airb["host_response_rate"] = pd.to_numeric(airb.host_response_rate, errors='coerce')

In [8]:
airb.isnull().sum()

log_price                     0
property_type                 0
room_type                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
host_has_profile_pic        188
host_identity_verified      188
host_response_rate        18299
host_since                  188
instant_bookable              0
latitude                      0
longitude                     0
name                          0
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
zipcode                     987
bedrooms                     91
beds                        131
dtype: int64

In [9]:
#dropping rows with null values
airb.dropna(axis=0, inplace= True)

In [10]:
airb.isnull().sum()

log_price                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                 0
bed_type                  0
cancellation_policy       0
cleaning_fee              0
city                      0
host_has_profile_pic      0
host_identity_verified    0
host_response_rate        0
host_since                0
instant_bookable          0
latitude                  0
longitude                 0
name                      0
neighbourhood             0
number_of_reviews         0
review_scores_rating      0
zipcode                   0
bedrooms                  0
beds                      0
dtype: int64

In [12]:
print(airb.shape)

(42763, 23)

Model 1

In [13]:
airb_m1 = airb[['log_price','zipcode','host_response_rate','host_has_profile_pic','review_scores_rating','property_type','city','room_type','bathrooms','bedrooms','beds','instant_bookable','accommodates','bed_type','latitude','longitude','host_identity_verified']].copy()

airb_m1.head()

,log_price,zipcode,host_response_rate,host_has_profile_pic,review_scores_rating,property_type,city,room_type,bathrooms,bedrooms,beds,instant_bookable,accommodates,bed_type,latitude,longitude,host_identity_verified
1,5.129899,10019.0,100.0,t,93.0,Apartment,NYC,Entire home/apt,1.0,3.0,3.0,t,7,Real Bed,40.766115,-73.989040,f
2,4.976734,10027.0,100.0,t,92.0,Apartment,NYC,Entire home/apt,1.0,1.0,3.0,t,5,Real Bed,40.808110,-73.943756,t
4,4.744932,20009.0,100.0,t,40.0,Apartment,DC,Entire home/apt,1.0,0.0,1.0,t,2,Real Bed,38.925627,-77.034596,t
5,4.442651,94131.0,100.0,t,100.0,Apartment,SF,Private room,1.0,1.0,1.0,t,2,Real Bed,37.753164,-122.429526,t
7,4.787492,90015.0,100.0,t,93.0,Condominium,LA,Entire home/apt,1.0,1.0,1.0,f,2,Real Bed,34.046737,-118.260439,t

In [14]:
X = pd.get_dummies(airb_m1.loc[:, airb_m1.columns != 'log_price'])
y = airb_m1['log_price']

In [ ]:
X.head()

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.60, random_state=42)

In [33]:
from sklearn.linear_model import LinearRegression
model = LinearRegression() #instantiating the model

In [34]:
model

LinearRegression()

In [35]:
model.fit(X_train, y_train)

LinearRegression()

In [36]:
y_pred = model.predict(X_test)

In [37]:
model.score(X_test, y_test)

0.6594868411014612

In [38]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"MSE is :{mse}")
print(f"MAE is :{mae}")
print(f"r2 is :{r2}")

MSE is :0.1521516251500435
MAE is :0.2974299731916982
r2 is :0.6594868411014612

In [41]:
len(airb.property_type.unique())

31

In [72]:
airb_m2 = airb[['log_price','zipcode','host_response_rate','host_has_profile_pic','review_scores_rating','property_type','city','room_type','bathrooms','bedrooms','beds','instant_bookable','accommodates','bed_type','latitude','longitude','host_identity_verified']].copy()

airb_m2.head()

,log_price,zipcode,host_response_rate,host_has_profile_pic,review_scores_rating,property_type,city,room_type,bathrooms,bedrooms,beds,instant_bookable,accommodates,bed_type,latitude,longitude,host_identity_verified
1,5.129899,10019.0,100.0,t,93.0,Apartment,NYC,Entire home/apt,1.0,3.0,3.0,t,7,Real Bed,40.766115,-73.989040,f
2,4.976734,10027.0,100.0,t,92.0,Apartment,NYC,Entire home/apt,1.0,1.0,3.0,t,5,Real Bed,40.808110,-73.943756,t
4,4.744932,20009.0,100.0,t,40.0,Apartment,DC,Entire home/apt,1.0,0.0,1.0,t,2,Real Bed,38.925627,-77.034596,t
5,4.442651,94131.0,100.0,t,100.0,Apartment,SF,Private room,1.0,1.0,1.0,t,2,Real Bed,37.753164,-122.429526,t
7,4.787492,90015.0,100.0,t,93.0,Condominium,LA,Entire home/apt,1.0,1.0,1.0,f,2,Real Bed,34.046737,-118.260439,t

In [62]:
#Label Encoding the color column
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()  #instantiate the Label Encoder
airb_m2['property_type'] = le.fit_transform(airb_m2['property_type'])

#it's ideal to always instantiate new LabelEncoders for different columns

In [63]:
#Label Encoding the color column
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()  #instantiate the Label Encoder
airb_m2['city'] = le.fit_transform(airb_m2['city'])

#it's ideal to always instantiate new LabelEncoders for different columns

In [73]:
X = pd.get_dummies(airb_m2.loc[:, airb_m2.columns != 'log_price'])
y = airb_m2['log_price']

In [74]:
X.head()

,zipcode,host_response_rate,review_scores_rating,bathrooms,bedrooms,beds,accommodates,latitude,longitude,host_has_profile_pic_f,...,room_type_Shared room,instant_bookable_f,instant_bookable_t,bed_type_Airbed,bed_type_Couch,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,host_identity_verified_f,host_identity_verified_t
1,10019.0,100.0,93.0,1.0,3.0,3.0,7,40.766115,-73.989040,0,...,0,0,1,0,0,0,0,1,1,0
2,10027.0,100.0,92.0,1.0,1.0,3.0,5,40.808110,-73.943756,0,...,0,0,1,0,0,0,0,1,0,1
4,20009.0,100.0,40.0,1.0,0.0,1.0,2,38.925627,-77.034596,0,...,0,0,1,0,0,0,0,1,0,1
5,94131.0,100.0,100.0,1.0,1.0,1.0,2,37.753164,-122.429526,0,...,0,0,1,0,0,0,0,1,0,1
7,90015.0,100.0,93.0,1.0,1.0,1.0,2,34.046737,-118.260439,0,...,0,1,0,0,0,0,0,1,0,1

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.80, random_state=42)

In [82]:
model = LinearRegression() #instantiating the model

In [83]:
model

LinearRegression()

In [84]:
model.fit(X_train, y_train)

LinearRegression()

In [85]:
y_pred = model.predict(X_test)

In [86]:
model.score(X_test, y_test)

0.6571160668899878